In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
#using a .csv file

iris = pd.read_csv('D:/Jobs/sparta/Training Files/iris.csv')

# just insert the file path to the location of the csv you want to read

In [3]:
iris
# all good
# .csv creates a DataFrame automatically

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
# trying some descriptives

iris.describe

<bound method NDFrame.describe of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [6]:
iris.mean()

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

In [8]:
iris.max()

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [9]:
iris.min()

sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object

In [11]:
iris.head()
# can look at top n rows (default = 5) to take a quick look at the data

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [12]:
type(iris)
# shows its a dataframe

pandas.core.frame.DataFrame

In [13]:
# writing to the csv file

iris.to_csv('new_iris.csv')

#created a new csv file called new_iris.csv
#   looks like a normal csv

In [14]:
# changing parameters

import sys
iris.to_csv(sys.stdout, sep='_')
# sys.stdout opens it as output here
# sep ='_' changes the separator

_"sepal_length"_"sepal_width"_"petal_length"_"petal_width"_species
0_5.1_3.5_1.4_0.2_setosa
1_4.9_3.0_1.4_0.2_setosa
2_4.7_3.2_1.3_0.2_setosa
3_4.6_3.1_1.5_0.2_setosa
4_5.0_3.6_1.4_0.2_setosa
5_5.4_3.9_1.7_0.4_setosa
6_4.6_3.4_1.4_0.3_setosa
7_5.0_3.4_1.5_0.2_setosa
8_4.4_2.9_1.4_0.2_setosa
9_4.9_3.1_1.5_0.1_setosa
10_5.4_3.7_1.5_0.2_setosa
11_4.8_3.4_1.6_0.2_setosa
12_4.8_3.0_1.4_0.1_setosa
13_4.3_3.0_1.1_0.1_setosa
14_5.8_4.0_1.2_0.2_setosa
15_5.7_4.4_1.5_0.4_setosa
16_5.4_3.9_1.3_0.4_setosa
17_5.1_3.5_1.4_0.3_setosa
18_5.7_3.8_1.7_0.3_setosa
19_5.1_3.8_1.5_0.3_setosa
20_5.4_3.4_1.7_0.2_setosa
21_5.1_3.7_1.5_0.4_setosa
22_4.6_3.6_1.0_0.2_setosa
23_5.1_3.3_1.7_0.5_setosa
24_4.8_3.4_1.9_0.2_setosa
25_5.0_3.0_1.6_0.2_setosa
26_5.0_3.4_1.6_0.4_setosa
27_5.2_3.5_1.5_0.2_setosa
28_5.2_3.4_1.4_0.2_setosa
29_4.7_3.2_1.6_0.2_setosa
30_4.8_3.1_1.6_0.2_setosa
31_5.4_3.4_1.5_0.4_setosa
32_5.2_4.1_1.5_0.1_setosa
33_5.5_4.2_1.4_0.2_setosa
34_4.9_3.1_1.5_0.1_setosa
35_5.0_3.2_1.2_0.2_setosa
36_5.5_3.5_1.3_0.2_setosa
37_4.9_3.1_1.5_0.1_setosa
38_4.4_3.0_1.3_0.2_setosa
39_5.1_3.4_1.5_0.2_setosa
40_5.0_3.5_1.3_0.3_setosa
41_4.5_2.3_1.3_0.3_setosa
42_4.4_3.2_1.3_0.2_setosa
43_5.0_3.5_1.6_0.6_setosa
44_5.1_3.8_1.9_0.4_setosa
45_4.8_3.0_1.4_0.3_setosa
46_5.1_3.8_1.6_0.2_setosa
47_4.6_3.2_1.4_0.2_setosa
48_5.3_3.7_1.5_0.2_setosa
49_5.0_3.3_1.4_0.2_setosa
50_7.0_3.2_4.7_1.4_versicolor
51_6.4_3.2_4.5_1.5_versicolor
52_6.9_3.1_4.9_1.5_versicolor
53_5.5_2.3_4.0_1.3_versicolor
54_6.5_2.8_4.6_1.5_versicolor
55_5.7_2.8_4.5_1.3_versicolor
56_6.3_3.3_4.7_1.6_versicolor
57_4.9_2.4_3.3_1.0_versicolor
58_6.6_2.9_4.6_1.3_versicolor
59_5.2_2.7_3.9_1.4_versicolor
60_5.0_2.0_3.5_1.0_versicolor
61_5.9_3.0_4.2_1.5_versicolor
62_6.0_2.2_4.0_1.0_versicolor
63_6.1_2.9_4.7_1.4_versicolor
64_5.6_2.9_3.6_1.3_versicolor
65_6.7_3.1_4.4_1.4_versicolor
66_5.6_3.0_4.5_1.5_versicolor
67_5.8_2.7_4.1_1.0_versicolor
68_6.2_2.2_4.5_1.5_versicolor
69_5.6_2.5_3.9_1.1_versicolor
70_5.9_3.2_4.8_1.8_versicolor
71_6.1_2.8_4.0_1.3_versicolor
72_6.3_2.5_4.9_1.5_versicolor
73_6.1_2.8_4.7_1.2_versicolor
74_6.4_2.9_4.3_1.3_versicolor
75_6.6_3.0_4.4_1.4_versicolor
76_6.8_2.8_4.8_1.4_versicolor
77_6.7_3.0_5.0_1.7_versicolor
78_6.0_2.9_4.5_1.5_versicolor
79_5.7_2.6_3.5_1.0_versicolor
80_5.5_2.4_3.8_1.1_versicolor
81_5.5_2.4_3.7_1.0_versicolor
82_5.8_2.7_3.9_1.2_versicolor
83_6.0_2.7_5.1_1.6_versicolor
84_5.4_3.0_4.5_1.5_versicolor
85_6.0_3.4_4.5_1.6_versicolor
86_6.7_3.1_4.7_1.5_versicolor
87_6.3_2.3_4.4_1.3_versicolor
88_5.6_3.0_4.1_1.3_versicolor
89_5.5_2.5_4.0_1.3_versicolor
90_5.5_2.6_4.4_1.2_versicolor
91_6.1_3.0_4.6_1.4_versicolor
92_5.8_2.6_4.0_1.2_versicolor
93_5.0_2.3_3.3_1.0_versicolor
94_5.6_2.7_4.2_1.3_versicolor
95_5.7_3.0_4.2_1.2_versicolor
96_5.7_2.9_4.2_1.3_versicolor
97_6.2_2.9_4.3_1.3_versicolor
98_5.1_2.5_3.0_1.1_versicolor
99_5.7_2.8_4.1_1.3_versicolor
100_6.3_3.3_6.0_2.5_virginica
101_5.8_2.7_5.1_1.9_virginica
102_7.1_3.0_5.9_2.1_virginica
103_6.3_2.9_5.6_1.8_virginica
104_6.5_3.0_5.8_2.2_virginica
105_7.6_3.0_6.6_2.1_virginica
106_4.9_2.5_4.5_1.7_virginica
107_7.3_2.9_6.3_1.8_virginica
108_6.7_2.5_5.8_1.8_virginica
109_7.2_3.6_6.1_2.5_virginica
110_6.5_3.2_5.1_2.0_virginica
111_6.4_2.7_5.3_1.9_virginica
112_6.8_3.0_5.5_2.1_virginica
113_5.7_2.5_5.0_2.0_virginica
114_5.8_2.8_5.1_2.4_virginica
115_6.4_3.2_5.3_2.3_virginica
116_6.5_3.0_5.5_1.8_virginica
117_7.7_3.8_6.7_2.2_virginica
118_7.7_2.6_6.9_2.3_virginica
119_6.0_2.2_5.0_1.5_virginica
120_6.9_3.2_5.7_2.3_virginica
121_5.6_2.8_4.9_2.0_virginica
122_7.7_2.8_6.7_2.0_virginica
123_6.3_2.7_4.9_1.8_virginica
124_6.7_3.3_5.7_2.1_virginica
125_7.2_3.2_6.0_1.8_virginica
126_6.2_2.8_4.8_1.8_virginica
127_6.1_3.0_4.9_1.8_virginica
128_6.4_2.8_5.6_2.1_virginica
129_7.2_3.0_5.8_1.6_virginica
130_7.4_2.8_6.1_1.9_virginica
131_7.9_3.8_6.4_2.0_virginica
132_6.4_2.8_5.6_2.2_virginica
133_6.3_2.8_5.1_1.5_virginica
134_6.1_2.6_5.6_1.4_virginica
135_7.7_3.0_6.1_2.3_virginica
136_6.3_3.4_5.6_2.4_virginica
137_6.4_3.1_5.5_1.8_virginica
138_6.0_3.0_4.8_1.8_virginica
139_6.9_3.1_5.4_2.1_virginica
140_6.7_3.1_5.6_2.4_virginica
141_6.9_3.1_5.1_2.3_virginica
142_5.8_2.7_5.1_1.9_virginica
143_6.8_3.2_5.9_2.3_virginica
144_6.7_3.3_5.7_2.5_virginica
145_6.7_3.0_5.2_2.3_virginica
146_6.3_2.5_5.0_1.9_virginica
147_6.5_3.0_5.2_2.0_virginica
148_6.2_3.4_5.4_2.3_virginica
149_5.9_3.0_5.1_1.8_virginica

In [16]:
iris.to_csv(sys.stdout)
# default = the commas the origina file used for separators

,sepal_length,sepal_width,petal_length,petal_width,species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
5,5.4,3.9,1.7,0.4,setosa
6,4.6,3.4,1.4,0.3,setosa
7,5.0,3.4,1.5,0.2,setosa
8,4.4,2.9,1.4,0.2,setosa
9,4.9,3.1,1.5,0.1,setosa
10,5.4,3.7,1.5,0.2,setosa
11,4.8,3.4,1.6,0.2,setosa
12,4.8,3.0,1.4,0.1,setosa
13,4.3,3.0,1.1,0.1,setosa
14,5.8,4.0,1.2,0.2,setosa
15,5.7,4.4,1.5,0.4,setosa
16,5.4,3.9,1.3,0.4,setosa
17,5.1,3.5,1.4,0.3,setosa
18,5.7,3.8,1.7,0.3,setosa
19,5.1,3.8,1.5,0.3,setosa
20,5.4,3.4,1.7,0.2,setosa
21,5.1,3.7,1.5,0.4,setosa
22,4.6,3.6,1.0,0.2,setosa
23,5.1,3.3,1.7,0.5,setosa
24,4.8,3.4,1.9,0.2,setosa
25,5.0,3.0,1.6,0.2,setosa
26,5.0,3.4,1.6,0.4,setosa
27,5.2,3.5,1.5,0.2,setosa
28,5.2,3.4,1.4,0.2,setosa
29,4.7,3.2,1.6,0.2,setosa
30,4.8,3.1,1.6,0.2,setosa
31,5.4,3.4,1.5,0.4,setosa
32,5.2,4.1,1.5,0.1,setosa
33,5.5,4.2,1.4,0.2,setosa
34,4.9,3.1,1.5,0.1,setosa
35,5.0,3.2,1.2,0.2,setosa
36,5.5,3.5,1.3,0.2,setosa
37,4.9,3.1,1.5,0.1,setosa
38,4.4,3.0,1.3,0.2,setosa
39,5.1,3.4,1.5,0.2,setosa
40,5.0,3.5,1.3,0.3,setosa
41,4.5,2.3,1.3,0.3,setosa
42,4.4,3.2,1.3,0.2,setosa
43,5.0,3.5,1.6,0.6,setosa
44,5.1,3.8,1.9,0.4,setosa
45,4.8,3.0,1.4,0.3,setosa
46,5.1,3.8,1.6,0.2,setosa
47,4.6,3.2,1.4,0.2,setosa
48,5.3,3.7,1.5,0.2,setosa
49,5.0,3.3,1.4,0.2,setosa
50,7.0,3.2,4.7,1.4,versicolor
51,6.4,3.2,4.5,1.5,versicolor
52,6.9,3.1,4.9,1.5,versicolor
53,5.5,2.3,4.0,1.3,versicolor
54,6.5,2.8,4.6,1.5,versicolor
55,5.7,2.8,4.5,1.3,versicolor
56,6.3,3.3,4.7,1.6,versicolor
57,4.9,2.4,3.3,1.0,versicolor
58,6.6,2.9,4.6,1.3,versicolor
59,5.2,2.7,3.9,1.4,versicolor
60,5.0,2.0,3.5,1.0,versicolor
61,5.9,3.0,4.2,1.5,versicolor
62,6.0,2.2,4.0,1.0,versicolor
63,6.1,2.9,4.7,1.4,versicolor
64,5.6,2.9,3.6,1.3,versicolor
65,6.7,3.1,4.4,1.4,versicolor
66,5.6,3.0,4.5,1.5,versicolor
67,5.8,2.7,4.1,1.0,versicolor
68,6.2,2.2,4.5,1.5,versicolor
69,5.6,2.5,3.9,1.1,versicolor
70,5.9,3.2,4.8,1.8,versicolor
71,6.1,2.8,4.0,1.3,versicolor
72,6.3,2.5,4.9,1.5,versicolor
73,6.1,2.8,4.7,1.2,versicolor
74,6.4,2.9,4.3,1.3,versicolor
75,6.6,3.0,4.4,1.4,versicolor
76,6.8,2.8,4.8,1.4,versicolor
77,6.7,3.0,5.0,1.7,versicolor
78,6.0,2.9,4.5,1.5,versicolor
79,5.7,2.6,3.5,1.0,versicolor
80,5.5,2.4,3.8,1.1,versicolor
81,5.5,2.4,3.7,1.0,versicolor
82,5.8,2.7,3.9,1.2,versicolor
83,6.0,2.7,5.1,1.6,versicolor
84,5.4,3.0,4.5,1.5,versicolor
85,6.0,3.4,4.5,1.6,versicolor
86,6.7,3.1,4.7,1.5,versicolor
87,6.3,2.3,4.4,1.3,versicolor
88,5.6,3.0,4.1,1.3,versicolor
89,5.5,2.5,4.0,1.3,versicolor
90,5.5,2.6,4.4,1.2,versicolor
91,6.1,3.0,4.6,1.4,versicolor
92,5.8,2.6,4.0,1.2,versicolor
93,5.0,2.3,3.3,1.0,versicolor
94,5.6,2.7,4.2,1.3,versicolor
95,5.7,3.0,4.2,1.2,versicolor
96,5.7,2.9,4.2,1.3,versicolor
97,6.2,2.9,4.3,1.3,versicolor
98,5.1,2.5,3.0,1.1,versicolor
99,5.7,2.8,4.1,1.3,versicolor
100,6.3,3.3,6.0,2.5,virginica
101,5.8,2.7,5.1,1.9,virginica
102,7.1,3.0,5.9,2.1,virginica
103,6.3,2.9,5.6,1.8,virginica
104,6.5,3.0,5.8,2.2,virginica
105,7.6,3.0,6.6,2.1,virginica
106,4.9,2.5,4.5,1.7,virginica
107,7.3,2.9,6.3,1.8,virginica
108,6.7,2.5,5.8,1.8,virginica
109,7.2,3.6,6.1,2.5,virginica
110,6.5,3.2,5.1,2.0,virginica
111,6.4,2.7,5.3,1.9,virginica
112,6.8,3.0,5.5,2.1,virginica
113,5.7,2.5,5.0,2.0,virginica
114,5.8,2.8,5.1,2.4,virginica
115,6.4,3.2,5.3,2.3,virginica
116,6.5,3.0,5.5,1.8,virginica
117,7.7,3.8,6.7,2.2,virginica
118,7.7,2.6,6.9,2.3,virginica
119,6.0,2.2,5.0,1.5,virginica
120,6.9,3.2,5.7,2.3,virginica
121,5.6,2.8,4.9,2.0,virginica
122,7.7,2.8,6.7,2.0,virginica
123,6.3,2.7,4.9,1.8,virginica
124,6.7,3.3,5.7,2.1,virginica
125,7.2,3.2,6.0,1.8,virginica
126,6.2,2.8,4.8,1.8,virginica
127,6.1,3.0,4.9,1.8,virginica
128,6.4,2.8,5.6,2.1,virginica
129,7.2,3.0,5.8,1.6,virginica
130,7.4,2.8,6.1,1.9,virginica
131,7.9,3.8,6.4,2.0,virginica
132,6.4,2.8,5.6,2.2,virginica
133,6.3,2.8,5.1,1.5,virginica
134,6.1,2.6,5.6,1.4,virginica
135,7.7,3.0,6.1,2.3,virginica
136,6.3,3.4,5.6,2.4,virginica
137,6.4,3.1,5.5,1.8,virginica
138,6.0,3.0,4.8,1.8,virginica
139,6.9,3.1,5.4,2.1,virginica
140,6.7,3.1,5.6,2.4,virginica
141,6.9,3.1,5.1,2.3,virginica
142,5.8,2.7,5.1,1.9,virginica
143,6.8,3.2,5.9,2.3,virginica
144,6.7,3.3,5.7,2.5,virginica
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [18]:
spec = iris.groupby('species')
spec.head()

# created a new column called species
#    .head() output the top 5 results of each group (so here we made 3 groups, so got 15 rows)

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica

In [20]:
spec
# spec on its own wont return the DataFrame
#    spec is an object
#        this means we need to iterate through it to get the data

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000017BD4974EB0>

In [21]:
for species in spec:
    print(species)

('setosa',     sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa)
('versicolor',     sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor)
('virginica',      sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica
105           7.6          3.0           6.6          2.1  virginica
106           4.9          2.5           4.5          1.7  virginica
107           7.3          2.9           6.3          1.8  virginica
108           6.7          2.5           5.8          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
110           6.5          3.2           5.1          2.0  virginica
111           6.4          2.7           5.3          1.9  virginica
112           6.8          3.0           5.5          2.1  virginica
113           5.7          2.5           5.0          2.0  virginica
114           5.8          2.8           5.1          2.4  virginica
115           6.4          3.2           5.3          2.3  virginica
116           6.5          3.0           5.5          1.8  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
119           6.0          2.2           5.0          1.5  virginica
120           6.9          3.2           5.7          2.3  virginica
121           5.6          2.8           4.9          2.0  virginica
122           7.7          2.8           6.7          2.0  virginica
123           6.3          2.7           4.9          1.8  virginica
124           6.7          3.3           5.7          2.1  virginica
125           7.2          3.2           6.0          1.8  virginica
126           6.2          2.8           4.8          1.8  virginica
127           6.1          3.0           4.9          1.8  virginica
128           6.4          2.8           5.6          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
132           6.4          2.8           5.6          2.2  virginica
133           6.3          2.8           5.1          1.5  virginica
134           6.1          2.6           5.6          1.4  virginica
135           7.7          3.0           6.1          2.3  virginica
136           6.3          3.4           5.6          2.4  virginica
137           6.4          3.1           5.5          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
139           6.9          3.1           5.4          2.1  virginica
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica)

In [22]:
# can use any of the methods we know on spec, but

spec.describe()

# brings up all the stats for each group!!!!!!!!

           sepal_length                                              \
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width         \
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.107210  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [48]:
# creating dataframes for each species
seto = iris[iris['species'] == 'setosa']
seto.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [51]:
vers = iris[iris['species'] == 'versicolor']
vers.head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor

In [50]:
virg = iris[iris['species'] == 'virginica']
virg.head()

     sepal_length  sepal_width  petal_length  petal_width    species
100           6.3          3.3           6.0          2.5  virginica
101           5.8          2.7           5.1          1.9  virginica
102           7.1          3.0           5.9          2.1  virginica
103           6.3          2.9           5.6          1.8  virginica
104           6.5          3.0           5.8          2.2  virginica

In [69]:
# two dataframes out of iris: one for sepal info, other for petal info

sepal_info = pd.DataFrame(iris, columns = ['sepal_width', 'sepal_length'])
sepal_info_paula = pd.DataFrame({'sepal_width':iris['sepal_width'], 'sepal_length':iris['sepal_length']})
sepal_info

     sepal_width  sepal_length
0            3.5           5.1
1            3.0           4.9
2            3.2           4.7
3            3.1           4.6
4            3.6           5.0
..           ...           ...
145          3.0           6.7
146          2.5           6.3
147          3.0           6.5
148          3.4           6.2
149          3.0           5.9

[150 rows x 2 columns]

In [68]:
petal_info = pd.DataFrame(iris, columns = ['petal_width', 'petal_length'])
petal_info_paula = pd.DataFrame({'petal_width':iris['petal_width'], 'petal_length':iris['petal_length']})
petal_info.head()

   petal_width  petal_length
0          0.2           1.4
1          0.2           1.4
2          0.2           1.3
3          0.2           1.5
4          0.2           1.4

In [65]:
# merging and concatenating DataFrames

In [70]:
# merge on index
#    corresponds to the same row in each dataframe, allowing merge by index
#        hence, can merge sepal info and petal info together, but not the seto, vers and virg, because their indexes are different

pd.merge(sepal_info, petal_info, how = 'inner', right_index = True, left_index=True)

#how = type or merge (basically the joins)
# right/left_index = True, joined on the indexes

     sepal_width  sepal_length  petal_width  petal_length
0            3.5           5.1          0.2           1.4
1            3.0           4.9          0.2           1.4
2            3.2           4.7          0.2           1.3
3            3.1           4.6          0.2           1.5
4            3.6           5.0          0.2           1.4
..           ...           ...          ...           ...
145          3.0           6.7          2.3           5.2
146          2.5           6.3          1.9           5.0
147          3.0           6.5          2.0           5.2
148          3.4           6.2          2.3           5.4
149          3.0           5.9          1.8           5.1

[150 rows x 4 columns]

In [72]:
# using the other code, you get 2  columns, one saying species_x, one saying species_y, relative to the two dataframes that were joined???
pd.merge(sepal_info_paula, petal_info_paula, how = 'inner', right_index = True, left_index=True)

     sepal_width  sepal_length  petal_width  petal_length
0            3.5           5.1          0.2           1.4
1            3.0           4.9          0.2           1.4
2            3.2           4.7          0.2           1.3
3            3.1           4.6          0.2           1.5
4            3.6           5.0          0.2           1.4
..           ...           ...          ...           ...
145          3.0           6.7          2.3           5.2
146          2.5           6.3          1.9           5.0
147          3.0           6.5          2.0           5.2
148          3.4           6.2          2.3           5.4
149          3.0           5.9          1.8           5.1

[150 rows x 4 columns]

In [80]:
sepal_info['sepal_id'] = np.arange(150)
petal_info['petal_id'] = np.arange(150)
pd.merge(sepal_info, petal_info, left_on = 'sepal_id', right_on = 'petal_id')

#accidentally added 'SepalID'

,sepal_width,sepal_length,sepal_ID,sepal_id,petal_width,petal_length,petal_id
0,3.5,5.1,0,0,0.2,1.4,0
1,3.0,4.9,1,1,0.2,1.4,1
2,3.2,4.7,2,2,0.2,1.3,2
3,3.1,4.6,3,3,0.2,1.5,3
4,3.6,5.0,4,4,0.2,1.4,4
...,...,...,...,...,...,...,...
145,3.0,6.7,145,145,2.3,5.2,145
146,2.5,6.3,146,146,1.9,5.0,146
147,3.0,6.5,147,147,2.0,5.2,147
148,3.4,6.2,148,148,2.3,5.4,148
149,3.0,5.9,149,149,1.8,5.1,149

In [88]:
sepal_info_paula['sepal_id_p'] = np.arange(150)
petal_info_paula['petal_id_p'] = np.arange(150)
merged_iris = pd.merge(sepal_info_paula, petal_info_paula, left_on = 'sepal_id_p', right_on = 'petal_id_p')
merged_iris

# better, above accidentally ran code that was saved and added on - would need to remove stuff/rerun above stuff

,sepal_width,sepal_length,sepal_id_p,petal_width,petal_length,petal_id_p
0,3.5,5.1,0,0.2,1.4,0
1,3.0,4.9,1,0.2,1.4,1
2,3.2,4.7,2,0.2,1.3,2
3,3.1,4.6,3,0.2,1.5,3
4,3.6,5.0,4,0.2,1.4,4
...,...,...,...,...,...,...
145,3.0,6.7,145,2.3,5.2,145
146,2.5,6.3,146,1.9,5.0,146
147,3.0,6.5,147,2.0,5.2,147
148,3.4,6.2,148,2.3,5.4,148
149,3.0,5.9,149,1.8,5.1,149

In [90]:
# removal of columns sepal_id_p and petal_id_p

merged_iris.drop(['sepal_id_p', 'petal_id_p'], axis = 1)

# wont work without specifying the axis

     sepal_width  sepal_length  petal_width  petal_length
0            3.5           5.1          0.2           1.4
1            3.0           4.9          0.2           1.4
2            3.2           4.7          0.2           1.3
3            3.1           4.6          0.2           1.5
4            3.6           5.0          0.2           1.4
..           ...           ...          ...           ...
145          3.0           6.7          2.3           5.2
146          2.5           6.3          1.9           5.0
147          3.0           6.5          2.0           5.2
148          3.4           6.2          2.3           5.4
149          3.0           5.9          1.8           5.1

[150 rows x 4 columns]

In [91]:
# union = joining on rows in same columns
#    adding new rows based on same columns

concatenated_iris = pd.concat([seto, vers, virg], axis = 0)

#remember, axis 0 = rows, axis 1 = columns

concatenated_iris
# and everthing is back together

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [92]:
# combining dataframes

# if both have same columns, will combine,
# if diff columns, will give nulls for the dataframe that lacked the column

# etc...

In [94]:
import seaborn as sns

#seaborn = package with sample datasets and data visualisation stuff

In [96]:
flights = sns.load_dataset('flights')
flights

     year month  passengers
0    1949   Jan         112
1    1949   Feb         118
2    1949   Mar         132
3    1949   Apr         129
4    1949   May         121
..    ...   ...         ...
139  1960   Aug         606
140  1960   Sep         508
141  1960   Oct         461
142  1960   Nov         390
143  1960   Dec         432

[144 rows x 3 columns]

In [97]:
# this data is in long format - can pivot to wide

In [99]:
flights_piv = flights.pivot('year', 'month', 'passengers')
# in () = index, then columns, then values

flights_piv

month  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
year
1949   112  118  132  129  121  135  148  148  136  119  104  118
1950   115  126  141  135  125  149  170  170  158  133  114  140
1951   145  150  178  163  172  178  199  199  184  162  146  166
1952   171  180  193  181  183  218  230  242  209  191  172  194
1953   196  196  236  235  229  243  264  272  237  211  180  201
1954   204  188  235  227  234  264  302  293  259  229  203  229
1955   242  233  267  269  270  315  364  347  312  274  237  278
1956   284  277  317  313  318  374  413  405  355  306  271  306
1957   315  301  356  348  355  422  465  467  404  347  305  336
1958   340  318  362  348  363  435  491  505  404  359  310  337
1959   360  342  406  396  420  472  548  559  463  407  362  405
1960   417  391  419  461  472  535  622  606  508  461  390  432

In [102]:
# we can rearrange pivoted data - stack and unstack
# stack = multi-leveled index

flights_stack = flights_piv.stack()
flights_stack

year  month
1949  Jan      112
      Feb      118
      Mar      132
      Apr      129
      May      121
              ...
1960  Aug      606
      Sep      508
      Oct      461
      Nov      390
      Dec      432
Length: 144, dtype: int64

In [103]:
# data now have a multi-layered index - year + month

In [104]:
# unstack

flights_stack.unstack()

month  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
year
1949   112  118  132  129  121  135  148  148  136  119  104  118
1950   115  126  141  135  125  149  170  170  158  133  114  140
1951   145  150  178  163  172  178  199  199  184  162  146  166
1952   171  180  193  181  183  218  230  242  209  191  172  194
1953   196  196  236  235  229  243  264  272  237  211  180  201
1954   204  188  235  227  234  264  302  293  259  229  203  229
1955   242  233  267  269  270  315  364  347  312  274  237  278
1956   284  277  317  313  318  374  413  405  355  306  271  306
1957   315  301  356  348  355  422  465  467  404  347  305  336
1958   340  318  362  348  363  435  491  505  404  359  310  337
1959   360  342  406  396  420  472  548  559  463  407  362  405
1960   417  391  419  461  472  535  622  606  508  461  390  432